@font-face {
    font-family: 'RosieBrown';
    src: url(./Rosie_Brown_Serif_Demo.otf);

}
body, main { 
    display: flex
}

body {
    flex-direction: column
}

main {
    flex-direction: row;
    flex: auto;
}

article, aside {
    overflow: auto;
}

article {
    flex: 2;
    padding-top: 10px !important;
    padding-bottom: 20px !important;
}

aside {
    flex: 1;
    color: white;
    z-index: 0;
    background-color: rgb(0, 0, 0, 0) !important;
    padding-top: 10px !important;
    margin-top: 40px !important;
}

aside::before {
    background-color: black;
    z-index: -1;
}

body {
    background-image: url("images/mygradient.png");
    background-attachment: fixed;
    background-size: cover;
}

footer {
    color: white;
    text-align: center;
    padding-bottom: 40px !important;
}

.backgroundbloc {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 50px;
} 

.mycontainer {
    display: flex;
  }

.mycontainer > div {
    width:70%;
  }

h1, h2, h3, p {
    color: white;
}

h1 {
    font-family: 'RosieBrown' !important;
    font-size: 50px !important;
}

h2 {
    font-family: 'Urbanist' !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-style: italic !important;
}

h3 {
    font-family: 'Urbanist' !important;
    margin-left: 50px !important;
    font-weight: bold !important;
    font-style: italic !important;
}

.asidetitle {
    font-family: 'RosieBrown' !important;
    text-align: right !important;
    font-size: 40px;
}

p {
    font-family: 'Urbanist' !important;
    text-align: justify;
}

nav {
    font-family: 'Urbanist' !important;
}

nav {
    color: white;
    text-transform:uppercase;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: 40px;
}

.blur {
    filter: blur(4px);
}

a:link {
    color: white;
    font-weight: bold;
}

a:visited {
    color: white;
    font-weight: bold;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    filter: brightness(60%);
    transition: filter 0.3s ease;
}

.image-container:hover img {
    filter: brightness(100%);
}

.flex-container {
    display: flex;
    flex-direction: row;
  }

.smallpreview {
    height: 202px;
}

/* POEM */
.notepad {
    background-color: rgb(221, 225, 230);
    width: 400px;
    height: 980px;
    margin: auto;
} 

.grid-container {
    display: grid;
    padding-bottom: 5px;
    width: 400px;
    grid-template-columns: 9fr 1fr;
}

.notepad_title {
    grid-column: 1;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 13px;
}

.notepad_xmark {
    grid-column: 2;
    background-color: #BD5B56;
    text-align: center;
    color: white;
    height: 20px;
    line-height: 25px;

}

.flex-container {
    display: flex;
    flex-wrap: nowrap;

}
.notepad_menu {
    background-color: #daebfe; 
    font-size: 13px; 
    width: 392px; 
    margin: auto; 
    padding: 7px 0px; 
    line-height: 7px; 
    border: 1px solid rgb(120, 120, 120);
}

.notepad_text {
    background-color:rgb(236, 238, 243); 
    width: 392px; 
    height: 927px; 
    margin: auto; 
    border: 1px solid rgb(75, 124, 184); 
    white-space: pre-wrap;

}

